Repository NUTFes/group-manager-2, pull requests merged in 2023-06, with the labels that each got.

#1376 管理者画面の割り当ての追加で団体名を表示させる
  admin_view/nuxt-project/pages/assign_items/_id.vue
Labels: admin_view

#1397 [fix] 電力申請のapi修正
  api/app/controllers/api/v1/power_orders_api_controller.rb
Labels: バグ修正, api

#1398 [fix] ステージオプション申請のapi修正
  api/app/controllers/api/v1/stage_common_options_api_controller.rb
Labels: バグ修正, api

#1399 place_orders の絞り込みを修正
  api/app/controllers/api/v1/place_orders_api_controller.rb
Labels: バグ修正, api

#1395 [Fix]ユーザ画面と管理者画面で所属課程のを一致させる
  admin_view/nuxt-project/pages/users/index.vue
  user_front/utils/list.ts
Labels: バグ修正, user_front, admin_view

#1401 [fix]管理者画面の物品申請の絞り込み機能修正
  admin_view/nuxt-project/pages/rental_orders/index.vue
  api/app/controllers/api/v1/rental_orders_api_controller.rb
Labels: api
