Repository NUTFes/group-manager-2, pull requests merged in 2024-05, with the labels that each got.

#1520 [fix] 従業員申請をする団体のバリデーション変更
  user_front/pages/regist_info/index.vue
Labels: バグ修正, admin_view

#1511 [fix] ユーザー画面制御のバグ修正
  api/app/controllers/user_page_settings_controller.rb
  api/db/fixtures/develop/user_page_setting.rb
  api/db/migrate/20240325051858_add_is_edit_user_to_user_page_settings.rb
  api/db/schema.rb
  user_front/pages/regist/venueMap/index.vue
  user_front/types/mypage/setting.ts
Labels: バグ修正, api, admin_view

#1531 [feat] 保健所提出用PDFのAPI作成とデータの表示
  admin_view/nuxt-project/pages/place_orders/index.vue
  api/app/controllers/print_pdf_controller.rb
  api/app/models/group.rb
  api/app/views/print_pdf/output_health_office_documents.pdf.erb
  api/app/views/print_pdf/output_health_office_documents_pdf.css
Labels: 機能追加, api, admin_view

#1560 アナウンス文のバリデーションを追加
  admin_view/nuxt-project/pages/announcement/_id.vue
  admin_view/nuxt-project/pages/announcement/index.vue
  user_front/locales/en.json
  user_front/locales/ja.json
  user_front/pages/mypage/edit_announcement/index.vue
Labels: 機能追加, user_front, admin_view

#1558 [fix]会場申請の選択肢の確認と、食販は屋外エリアのみ選択できるか確認
  admin_view/nuxt-project/pages/group_identify/index.vue
  admin_view/nuxt-project/pages/groups/index.vue
  admin_view/nuxt-project/pages/place_orders/index.vue
  admin_view/nuxt-project/pages/power_orders/index.vue
  admin_view/nuxt-project/pages/rental_orders/index.vue
  api/db/fixtures/develop/group_category.rb
  api/db/fixtures/develop/place.rb
  user_front/components/RegistInfo/edit/Place.vue
  user_front/pages/mypage/edit_group/index.vue
  user_front/pages/regist/group/index.vue
  user_front/pages/regist/place/index.vue
  user_front/types/regist/groupCategory.ts
  user_front/utils/list.ts
Labels: user_front, api

#1529 [fix] fix group categories (#1522)
  admin_view/nuxt-project/pages/group_identify/index.vue
  admin_view/nuxt-project/pages/groups/index.vue
  admin_view/nuxt-project/pages/place_orders/index.vue
  admin_view/nuxt-project/pages/power_orders/index.vue
  admin_view/nuxt-project/pages/rental_orders/index.vue
  api/db/fixtures/develop/group_category.rb
  user_front/pages/mypage/edit_group/index.vue
  user_front/pages/regist/group/index.vue
  user_front/types/regist/groupCategory.ts
  user_front/utils/list.ts
Labels: user_front, api, admin_view

#1512 [fix] 学年と課程の統一（Seedsデータの変更）
  admin_view/nuxt-project/components/AccountModal.vue
  admin_view/nuxt-project/pages/representatives/_id.vue
  admin_view/nuxt-project/pages/representatives/index.vue
  admin_view/nuxt-project/pages/users/index.vue
  api/db/fixtures/develop/department.rb
  api/db/fixtures/production/department.rb
  user_front/utils/list.ts
Labels: バグ修正, api, admin_view

#1555 画像のバリデーションを追加
  admin_view/nuxt-project/pages/group_identify/index.vue
  admin_view/nuxt-project/pages/power_orders/index.vue
  user_front/pages/mypage/publicRelations/index.vue
Labels: バグ修正, user_front

#1569 [Fix]ステージ申請のバリデーション修正
  api/db/fixtures/develop/stage.rb
  api/db/fixtures/production/stage.rb
Labels: api

#1557 [feat] 学外申請の追加
  admin_view/nuxt-project/pages/groups/_id.vue
  admin_view/nuxt-project/pages/groups/index.vue
  api/app/controllers/api/v1/groups_api_controller.rb
  api/app/controllers/groups_controller.rb
  api/db/migrate/20240507003226_add_is_external_to_groups.rb
  api/db/schema.rb
  user_front/locales/en.json
  user_front/locales/ja.json
  user_front/pages/mypage/edit_group/index.vue
  user_front/pages/regist/group/index.vue
  user_front/types/regist/group.ts
Labels: 機能追加, user_front, api, admin_view

#1573 購入品申請を食品販売のみ表示
  user_front/pages/regist_info/index.vue
Labels: user_front

#1578 Feat/purin/1516/creat front cooking process page
  admin_view/nuxt-project/plugins/role/developer.js
  api/db/fixtures/develop/department.rb
  user_front/locales/ja.json
  user_front/pages/mypage/edit_cooking_process/index.vue
  user_front/pages/mypage/index.vue
Labels: user_front

#1579 [feat] 代表者と副代表者の重複禁止 (#1570)
  user_front/components/RegistInfo/edit/SubRep.vue
  user_front/utils/validate.ts
Labels: user_front

#1580 [feat] 学外団体の実行委員担当者の追加
  admin_view/nuxt-project/pages/groups/_id.vue
  admin_view/nuxt-project/pages/groups/index.vue
  api/app/controllers/contact_persons_controller.rb
  api/app/models/contact_person.rb
  api/app/models/group.rb
  api/config/routes.rb
  api/db/migrate/20240507065259_create_contact_people.rb
  api/db/schema.rb
  api/test/fixtures/contact_people.yml
  api/test/models/contact_person_test.rb
  user_front/locales/en.json
  user_front/locales/ja.json
  user_front/pages/mypage/edit_contact_person/index.vue
  user_front/pages/mypage/index.vue
  user_front/types/mypage/registAlarm.ts
  user_front/types/regist/contactPerson.ts
  user_front/utils/validate.ts
Labels: 機能追加, user_front, api, admin_view

#1585 調理工程申請の登録処理の実装
  user_front/locales/en.json
  user_front/pages/mypage/edit_contact_person/index.vue
  user_front/pages/mypage/edit_cooking_process/index.vue
  user_front/pages/mypage/edit_group/index.vue
  user_front/pages/mypage/password_reset/index.vue
  user_front/pages/mypage/publicRelations/index.vue
  user_front/pages/regist/group/index.vue
  user_front/types/regist/cookingProcessOrder.ts
  user_front/utils/validate.ts
Labels: 機能追加, user_front

#1583 [feat] 曖昧検索の情報保持 (#1581)
  admin_view/nuxt-project/pages/announcement/index.vue
  admin_view/nuxt-project/pages/cooking_process_order/index.vue
  admin_view/nuxt-project/pages/employees/index.vue
  admin_view/nuxt-project/pages/food_products/index.vue
  admin_view/nuxt-project/pages/groups/index.vue
  admin_view/nuxt-project/pages/order_status_check/index.vue
  admin_view/nuxt-project/pages/place_orders/index.vue
  admin_view/nuxt-project/pages/power_orders/index.vue
  admin_view/nuxt-project/pages/public_relations/index.vue
  admin_view/nuxt-project/pages/purchase_lists/index.vue
  admin_view/nuxt-project/pages/rental_orders/index.vue
  admin_view/nuxt-project/pages/representatives/index.vue
  admin_view/nuxt-project/pages/stage_common_options/index.vue
  admin_view/nuxt-project/pages/stage_orders/index.vue
  admin_view/nuxt-project/pages/users/index.vue
Labels: admin_view

#1584 申請状況一覧の絞り込みとスクロール保持
  admin_view/nuxt-project/pages/order_status_check/index.vue
  api/app/controllers/api/v1/order_status_check_api_controller.rb
  api/app/models/group.rb
  api/config/routes.rb
Labels: api, admin_view

#1603 食品販売の場合のみ調理工程へのリンクを表示する
  user_front/pages/mypage/index.vue
Labels: バグ修正, user_front

#1605 [feat]販売品申請ページの食販と物販のフィルター追加
  admin_view/nuxt-project/pages/food_products/_id.vue
  admin_view/nuxt-project/pages/food_products/index.vue
  api/app/controllers/api/v1/food_products_api_controller.rb
Labels: バグ修正, api, admin_view

#1618 [fix]ユーザー画面制御ページのレイアウト変更(#1604)
  admin_view/nuxt-project/pages/user_page_setting/index.vue
Labels: バグ修正, admin_view

#1616 cssによるwarningの解消
  admin_view/nuxt-project/components/AccountModal.vue
  admin_view/nuxt-project/components/AddModal.vue
  admin_view/nuxt-project/components/Card.vue
  admin_view/nuxt-project/components/DeleteModal.vue
  admin_view/nuxt-project/components/EditModal.vue
  admin_view/nuxt-project/components/Header.vue
  admin_view/nuxt-project/components/MemoModal.vue
  admin_view/nuxt-project/components/Menu.vue
  admin_view/nuxt-project/components/NotificationModal.vue
  admin_view/nuxt-project/components/SearchDropDown.vue
  admin_view/nuxt-project/components/SelectBox.vue
  admin_view/nuxt-project/components/SnackBar.vue
  admin_view/nuxt-project/components/SubHeader.vue
  admin_view/nuxt-project/components/SubSubHeader.vue
  admin_view/nuxt-project/components/SwitchButton.vue
Labels: admin_view

#1627 docker-composeの不要な部分を削除
  docker-compose.prod.yml
  docker-compose.stage.yml
Labels: バグ修正
