Repository NUTFes/group-manager-2, pull requests merged in 2024-03, with the labels that each got.

#1495 [feat] current_stockテーブルの作成(#1492)
  api/app/controllers/current_stocks_controller.rb
  api/app/models/current_stock.rb
  api/db/migrate/20240307061926_create_current_stocks.rb
  api/db/schema.rb
  api/test/controllers/current_stocks_controller_test.rb
  api/test/fixtures/current_stocks.yml
  api/test/models/current_stock_test.rb
Labels: api

#1497 [feat] 物品申請数調整ページの表示 (#1496)
  admin_view/nuxt-project/components/Menu.vue
  admin_view/nuxt-project/pages/adjustment_order_items/index.vue
Labels: admin_view

#1500 [feat] 団体物品貸出 時間・人数調整ページの表示 (#1498)
  admin_view/nuxt-project/components/Menu.vue
  admin_view/nuxt-project/pages/adjustment_rental_time/index.vue
Labels: admin_view

#1501 [feat] 物品移動計画ページの表示 (#1499)
  admin_view/nuxt-project/components/Menu.vue
  admin_view/nuxt-project/pages/assign_item_movements/index.vue
Labels: admin_view

#1487 [fix]物品割り当てページにソート機能のみ追加
  admin_view/nuxt-project/pages/assign_items/_id.vue
Labels: admin_view

#1490 [feat]保健所提出書類のpdf出力機能のみ
  admin_view/nuxt-project/pages/print/index.vue
  api/app/controllers/print_pdf_controller.rb
  api/app/views/print_pdf/output_health_office_documents.pdf.erb
  api/app/views/print_pdf/output_health_office_documents_pdf.css
  api/config/routes.rb
Labels: 機能追加, api, admin_view
