Repository NUTFes/group-manager-2, pull requests merged in 2024-06, with the labels that each got.

#1634 模擬店平面図のAPI作成とページの作成
  admin_view/nuxt-project/components/Menu.vue
  admin_view/nuxt-project/pages/venue_maps/_id.vue
  admin_view/nuxt-project/pages/venue_maps/index.vue
  admin_view/nuxt-project/plugins/role/developer.js
  admin_view/nuxt-project/plugins/role/inventory_management.js
  admin_view/nuxt-project/plugins/role/participant.js
  admin_view/nuxt-project/plugins/role/sanitation_management.js
  admin_view/nuxt-project/plugins/role/staff.js
  admin_view/nuxt-project/plugins/role/user.js
  admin_view/nuxt-project/plugins/role/venue_power.js
  api/app/controllers/api/v1/groups_api_controller.rb
  api/app/controllers/api/v1/venue_maps_api_controller.rb
  api/app/models/group.rb
  api/config/routes.rb
  user_front/pages/mypage/publicRelations/index.vue
  user_front/pages/regist/venueMap/index.vue
Labels: 機能追加, api, admin_view

#1642 [fix] それぞれのロールに全てのページの設定をした (#1638)
  admin_view/nuxt-project/plugins/role/developer.js
  admin_view/nuxt-project/plugins/role/inventory_management.js
  admin_view/nuxt-project/plugins/role/participant.js
  admin_view/nuxt-project/plugins/role/sanitation_management.js
  admin_view/nuxt-project/plugins/role/staff.js
  admin_view/nuxt-project/plugins/role/user.js
  admin_view/nuxt-project/plugins/role/venue_power.js
Labels: バグ修正

#1647 role設定のタイポ修正
  admin_view/nuxt-project/plugins/role/inventory_management.js
  admin_view/nuxt-project/plugins/role/participant.js
  admin_view/nuxt-project/plugins/role/sanitation_management.js
  admin_view/nuxt-project/plugins/role/staff.js
  admin_view/nuxt-project/plugins/role/venue_power.js
Labels: バグ修正, admin_view

#1648 [fix] 団体登録ページの文言修正 (#1640)
  user_front/locales/en.json
  user_front/locales/ja.json
Labels: バグ修正, user_front

#1652 [fix] 申請状況一覧ページで申請しない情報を「-」にした (#1636)
  admin_view/nuxt-project/pages/order_status_check/index.vue
Labels: バグ修正, admin_view

#1654 [fix] 表のヘッダーを上部に固定する (#1653)
  admin_view/nuxt-project/components/Header.vue
  admin_view/nuxt-project/components/Table.vue
Labels: バグ修正, admin_view
